<div class="text-sm bg-[#dbeafe] dark:bg-transparent dark:border-b dark:border-slate-800 dark:text-slate-400 px-3 py-2 relative whitespace-nowrap flex items-center">
  <span class="dark:bg-slate-700 bg-white/40 dark:text-slate-300 font-semibold px-1 py-0.5 text-xs inline-block">CONTACT ME</span>
  <a href="https://www.linkedin.com/in/nikolaos-epitropakis/" class="text-muted hover:underline dark:text-slate-400 font-medium ml-1">Nikos Epitropakis → LinkedIn »</a>
  <a target="_blank" rel="noopener" class="ml-2" title="If you like AstroWind, give us a star." href="https://www.linkedin.com/in/nikolaos-epitropakis/">
    <img src="https://static.vecteezy.com/system/resources/previews/018/930/587/original/linkedin-logo-linkedin-icon-transparent-free-png.png" alt="Nikos Epitropakis" width="25" height="25"/>
  </a>
</div>
