---
import { SITE } from '~/utils/config';
---

<div class="logo-container md:w-32 w-24 h-auto md:ml-0 ml-8">
   <img src="/src/components/VW-Logo-Transparent.svg" alt="VentureWorks Logo" class="logo-image">
</div>


