


<div class="logo-container md:w-32 w-24 h-auto md:ml-0 ml-8">

   <img src="https://raw.githubusercontent.com/nikosep/my-landing-page/c98d81173851ca383d6eefb94e3246243920eacc/src/assets/images/vw_logo_transparent.svg" alt="VentureWorks Logo" class="logo-image">
</div>



